In [1]:
import pandas as pd
import tqdm

In [2]:
df = pd.read_csv("footstep_cl_corr.log", delimiter=",")
ratio = 3
df.head()

    cab_id    epoch          x          y
0  2513682  25740.0  4523.3942  6721.8200
1  2513682  25740.0  4523.4260  6721.9255
2  2513682  25760.0  4527.8576  6748.8439
3  2513682  25780.0  4540.7277  6771.4533
4  2513682  25800.0  4562.4343  6788.3537

In [3]:
ids = df["cab_id"].unique()
ids

array([2513682, 2436219, 2495772, ..., 2483468, 2505891, 2445007])

In [4]:
dfs = []
for cid in tqdm.tqdm(ids):
    df_curr = df[df["cab_id"] == cid]
    df_new = df_curr.iloc[::ratio,:]
    if df_curr.iloc[-1,:].name != df_new.iloc[-1,:].name:
        df_new.append(df_curr.iloc[-1,:], ignore_index=True)
    dfs.append(df_curr)

100%|██████████| 40000/40000 [11:26<00:00, 58.29it/s]

In [6]:
df_new = pd.concat(dfs)

In [7]:
df_new.to_csv("footstep_cl_corr_r1%d.log" % ratio, index=False)